@import url("reset.css");

@import url("fonts.css");

@import url("test.css");

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: clip;
	background: url("../img/pexels-thomasronveaux-2496683.jpg") repeat-y center top;
}

.header {
	/* position: sticky; */
	position: relative;
	min-height: 300px;
	top: 0;
	padding: 50px 0px;
	text-align: center;
	z-index: 10;
}

.wrap-header {
	display: inline-block;
	position: sticky;
	top: 0;
}

.container-header {
	display: block;
	background: #fff;
	border-radius: 8px;
	padding: 4px 6px;
	position: relative;
	z-index: 5;
}

.list {
	font-size: 0;
}

.list__items {
	margin: 0;
	padding: 4px 1px;
	font-size: 0;
	white-space: nowrap;
}

.list__item {
	display: inline-block;
	padding: 20px 20px;
	vertical-align: middle;
	border-radius: 4px;
	margin: 0px 2px;
}

.subitems {
	opacity: 0;
	visibility: hidden;
	padding: 25px 10px 80px 25px;
	font-size: 15px;
	position: absolute;
	top: 90%;
	left: 0;
	width: 100%;
	background-color: #f9f7f7;
	transition: opacity 0.5s ease;
}

.list__item:hover > .subitems {
	opacity: 1;
	visibility: visible;
}

.subitems__list,
.subitems__item--second-floor {
	font-size: 15px;
	font-family: "Geometria", sans-serif;
	font-weight: 300;
	vertical-align: middle;
	line-height: 24px;
}

.subitems__list {
	width: 30%;
}

.subitems__item--second-floor {
	opacity: 0;
	visibility: hidden;
	width: 60%;
	background-color: #e3e7e9;
	position: absolute;
	top: 0;
	left: 100%;
	border-radius: 4px;
	min-height: 250px;
	min-width: 500px;
}

.subitems__item--second-floor::before {
	content: "";
	position: absolute;
	left: -12px;
	top: 0;
	bottom: 0;
	width: 12px;
	background: transparent;
}

.subitems__item--has-second:hover > .subitems__item--second-floor {
	opacity: 1;
	visibility: visible;
}

.subitems__item--second-floor > li {
	background-color: #e3e7e9;
	padding: 15px 100px 5px 15px !important;
}

.subitems__item--second-floor > li:hover a {
	text-decoration: underline;
	text-underline-offset: 5px;
}

.subitems__item--second-floor > li::after {
	background-color: #e3e7e9;
	background: none !important;
	margin-bottom: 5px !important;
}

.subitems__item {
	text-align: left;
	position: relative;
	padding: 15px 40px 15px 15px;
	border-radius: 4px;
	background-color: #eef0f2;
}

.subitems__item:not(:first-child) {
	margin-top: 15px;
}

.subitems__item--has-second::after {
	content: "";
	width: 24px;
	height: 24px;
	position: absolute;
	top: 15px;
	right: 20px;
	background: url("../img/arrow-right.svg");
}

.subitems__item:hover {
	background-color: #e3e7e9;
}

.list__link {
	display: inline-block;
	position: relative;
	font-size: 15px;
	font-family: "Geometria", sans-serif;
	font-weight: 300;
	vertical-align: middle;
	line-height: 24px;
}

.list__link--arrow {
	text-decoration: underline;
	text-underline-offset: 5px;
}

.list__item--gray {
	position: relative;
	background-color: #f2f4f6;
}

.list__item--gray::after {
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-left: 8px;
	background: url("../img/p24.svg") no-repeat center / contain;
	vertical-align: middle;
}

.list__item:hover {
	background-color: #e7ebed;
}

.list__item--lens::after {
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-left: 8px;
	background: url("../img/lens.svg") no-repeat center / contain;
	vertical-align: middle;
}

.banner-header {
	display: block;
	position: relative;
	z-index: 4;
	margin-top: -16px;
}

.banner {
	background: url("../img/flag.png") no-repeat right center;
	background-size: contain;
	background-color: #f7ecad;
	border-radius: 16px;
	padding: 25px 20px 10px 20px;
	overflow: hidden;

	text-align: left;
	white-space: nowrap;
}

.banner__header,
.banner__button {
	display: inline-block;
	vertical-align: middle;
	margin-right: 16px;
}

.banner__header p {
	font-family: "Geometria", sans-serif;
	font-weight: 700;
	font-size: 17px;
	line-height: 22px;
	letter-spacing: 0.4px;
	margin: 0;
	margin-right: 20px;
	color: #000000b8;
}

.button-banner__first {
	display: inline-block;
	border: 1px solid #979797;
	border-radius: 27px;
	padding: 4px 20px;
	font-family: "Geometria", sans-serif;
	font-weight: 500;
	font-size: 13px;
	font-style: normal;
	margin-right: 20px;
}

.button-banner__first:hover {
	background-color: #69aa36;
	color: #fff;
}

.banner__img img {
	display: inline-block;
	max-width: 180px;
	height: auto;
	border-radius: 8px;
	vertical-align: middle;
}

/* -------------------------------------- */

.blog {
	width: 100%;
	font-size: 0;
	/* position: relative; */
}

.blog__container {
	position: relative;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	box-sizing: border-box;
	width: 80%;
	max-width: 980px;
	background-color: #ffffff;
	font-family: "Playfair Display", sans-serif;
	font-weight: 400;
	text-transform: capitalize;
}

.blog__header {
	/* position: relative;
	top: 0;
	left: 50%;
	transform: translateX(-50%); */
	padding-bottom: 65px;
	text-align: center;
}

.blog__header > h1 {
	font-size: 36px;
}

.blog__pictures {
	font-size: 0;
	margin: 0 -56px 156px;
}

.picture {
	font-size: 16px;
	display: inline-block;
	width: 33.3333%;
	position: relative;
	top: 0;
	left: 0;
	padding: 0 56px;
}

.picture__text,
.picture__footer {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	color: #ffffff;
}

.picture__text {
	top: 43%;
	/* top: 128px; */
	font-size: 28px;
}

.picture__footer {
	bottom: 12px;
	font-size: 17px;
}

.blog__footer {
	position: relative;
	bottom: 1;
	left: 50%;
	transform: translateX(-50%);
	display: inline-block;
	text-align: center;
}

.blog__footer > a {
	padding: 10px 50px;
	border: solid 1px #000000;
	font-size: 14px;
}

.blog__footer > a:hover {
	background-color: #75756e25;
}

/* -------------------------------------- */

.container-footer {
	position: fixed;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
	width: 60%;
	border-radius: 8px;
	padding: 16px 0px;
	background-color: #fff;
	font-family: "Geometria", sans-serif;
	font-size: 0;
}

.text-footer,
.buttons-footer {
	display: inline-block;
	vertical-align: middle;
}

.text-footer {
	padding-left: 16px;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0.5px;
	color: #000000f5;
	width: calc(100% - 360px);
	box-sizing: border-box;
}

.text-footer a {
	color: #4ea524;
	text-decoration: underline;
}

.buttons-footer {
	font-size: 0;
	width: 360px;
	font-weight: 400;
}

.buttons-footer__primary,
.buttons-footer__secondary {
	font-family: "Geometria", sans-serif;
	display: inline-block;
	height: 48px;
	line-height: 48px;
	/* padding: 0 20px; */
	/* width: calc(50% - 6px); */
	min-width: 164px;
	border-radius: 12px;
	font-size: 15px;
	text-align: center;
	width: calc(50% - 12px);
	margin-right: 12px;
}

.buttons-footer__primary {
	background-color: #4ea524;
	color: #fff;
}

.buttons-footer__primary:hover {
	background-color: #6caf38;
}

.buttons-footer__secondary {
	/* margin-right: 12px; */
	background-color: rgba(81, 122, 138, 0.08);
}

.buttons-footer__secondary:hover {
	background-color: #e7ebed;
}
