@import url("reset.css");

@import url("fonts.css");

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: clip;
	background-color: #a19c9c;
}

.main {
	width: 100%;
	padding: 50px 0;
}

.main__container {
	padding: 50px 0 200px;
	/* min-width: 600px;
	min-height: 500px; */
	/* min-width: 600px;
	width: 800px; */
	/* min-height: 600px; */
	/* position: relative;
	top: 200px;
	left: 50%;
	transform: translateX(-50%); */
	/* padding-top: 50px; */
	/* margin: 0 auto; */
	background: url("../img/1708804823_kartinki-pibig-info-p-dom-svinki-peppi-kartinki-oboi-1.jpg")
		no-repeat center / cover;
}

.car {
	min-width: 600px;
	width: 800px;
	min-height: 500px;
	position: relative;
	top: 200px;
	left: 70px;
	/* background-color: #837e7e; */

	margin: 0 auto;
}

/* Wheels ------------------------- */

.car__wheel {
	width: 100px;
	height: 100px;
	background-color: #c1c1c1;
	position: absolute;
	bottom: 20px;
	border-radius: 50%;
	border: solid 15px black;
	outline: solid 5px #73717121;

	transition-timing-function: linear;
}

.car__wheel--right {
	left: 150px;
}

.car__wheel--left {
	right: 150px;
}

.car__wheel::after {
	content: "";
	width: 50%;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #000000;
	translate: -50% -50%;
	border-radius: 50%;
	outline: dashed 18px #565656;
}

.car__wheels:hover .car__wheel {
	animation: wheel-spin 3s linear infinite;
}

.car:has(.car__wheel:hover) .car__smoke {
	opacity: 1;
	visibility: visible;
}

@keyframes wheel-spin {
	0% {
		rotate: 0deg;
	}
	100% {
		rotate: 360deg;
	}
}

/* ----------------- */

/* Carcase ----------------- */

.car__carcase {
	width: 610px;
	height: 180px;
	background-color: #d4381c;
	position: absolute;
	bottom: 80px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 600px 700px 100px 100px;
}

.car__carcase::before,
.car__carcase::after {
	content: "";
	width: 40px;
	height: 10px;
	position: absolute;
	border-radius: 10px / 10px;
	background-color: #000000;
}

.car__carcase::before {
	bottom: 130px;
	left: 260px;
}

.car__carcase::after {
	bottom: 130px;
	left: 350px;
}

.car__light--main {
	width: 45px;
	height: 65px;
	position: absolute;
	bottom: 30px;
	left: -10px;
	background-color: #e7e18c;
	border-radius: 250px 100px 100px 70px;
}

.car__light--main:hover {
	background-color: #f5e82e;
	box-shadow: -50px 0 30px 40px #ffff64b4;
}

.car__light--rear {
	width: 20px;
	height: 35px;
	position: absolute;
	bottom: 30px;
	right: -7px;
	background-color: #de3f33;
	border-radius: 10px 200px 200px 10px;
}

.car__light--rear:hover {
	background-color: #d41a0d;
	box-shadow: 20px 0 30px 20px #e30f3dd0;
}

/* ----------------- */

/* Glasses ----------------- */

.car__glasses {
	box-sizing: border-box;
	display: inline-block;
	position: absolute;
	bottom: 230px;
	left: 50%;
	transform: translateX(-45%);
}

.car__glasses::before,
.car__glasses::after {
	display: inline-block;
	content: "";
	width: 200px;
	height: 170px;
	background-color: gold;
	border: solid;
	border-color: #d4381c;
}

.car__glasses::before {
	border-width: 25px 6px 0 25px;
	border-radius: 1500px 0 100px 80px;
}

.car__glasses::after {
	border-width: 25px 30px 0 6px;
	border-radius: 0 1300px 100px 90px;
}

/* ----------------- */

/* Bumper ----------------- */

.car__bumper {
	width: 600px;
	height: 25px;
	background-color: #a42913;
	position: absolute;
	bottom: 65px;
	left: 50%;

	border-radius: 60px / 50px;

	transform: translateX(-50%);
}

/* ----------------- */

/* Smoke ----------------- */

.car__smoke {
	position: absolute;
	right: 70px;
	bottom: 80px;
	width: 30px;
	height: 30px;
	background-color: #5c5858;
	opacity: 0;
	visibility: hidden;
	border-radius: 50%;
	animation: smoke 2.5s ease-out infinite;
}

@keyframes smoke {
	0% {
		opacity: 0.75;
		transform: translate(0, 0) scale(1);
	}
	100% {
		opacity: 0.1;
		transform: translate(50px, -50px) scale(2.8);
	}
}

/* ----------------------- */

.practice__container {
	width: 100%;
	padding: 100px;
	background-color: #d9d7de;
	box-sizing: border-box;
	font-size: 0;
}

.practice__2d {
	padding-bottom: 20px;
}

.practice__wrapper {
	display: inline-block;
	position: relative;
	top: 0;
	width: 120px;
	height: 120px;
	background-color: #80008030;
	margin-right: 15px;
	margin-bottom: 15px;
	border: 1px solid #00000030;
	border-radius: 4px;
}

.practice__item {
	display: inline-block;
	position: relative;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #d345d3;
	text-align: center;

	border: 1px solid black;
	border-radius: 4px;
}

.practice__item p {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	/* transform: translateX(-50%); */
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
	overflow-wrap: anywhere;
}

.item--translate:hover,
.practice__wrapper:hover > .item--translate {
	translate: -100px -100%;
}

.item--translate,
.item-scale--more,
.item-scale--less,
.item-scale--mix,
.item-skew-x,
.item-skew-y,
.item-skew-xy,
.item-matrix,
.item-multiple,
.item-transform,
.item-perspective {
	transition: all 1s linear;
}

.item-scale--more:hover,
.practice__wrapper:hover > .item-scale--more {
	scale: 1.4;
	z-index: 5;
}

.item-scale--less:hover,
.practice__wrapper:hover > .item-scale--less {
	scale: 0.7;
	z-index: 5;
}

.item-scale--mix:hover,
.practice__wrapper:hover > .item-scale--mix {
	scale: 1.6 0.5;
	z-index: 5;
}

.item-rotate-left,
.item-rotate-right {
	transition: rotate 1s linear;
}

.item-rotate-left:hover,
.practice__wrapper:hover > .item-rotate-left {
	rotate: 45deg;
}

.item-rotate-right:hover,
.practice__wrapper:hover > .item-rotate-right {
	rotate: -315deg;
}

.item-skew-x:hover,
.practice__wrapper:hover > .item-skew-x {
	transform: skewX(-40deg);
}

.item-skew-y:hover,
.practice__wrapper:hover > .item-skew-y {
	transform: skewY(20deg);
}

.item-skew-xy:hover,
.practice__wrapper:hover > .item-skew-xy {
	transform: skew(-20deg, 20deg);
}

.item-matrix:hover,
.practice__wrapper:hover > .item-matrix {
	transform: matrix(0.7, 0, 0, 1.2, 30, 80);
	z-index: 5;
}

.item-multiple:hover,
.practice__wrapper:hover > .item-multiple {
	transform: translate(0px, 30px) rotate(45deg) scale(1.2);
	z-index: 5;
}

.item-transform {
	transform-origin: 100% 100%;
}

.item-transform:hover,
.practice__wrapper:hover > .item-transform {
	rotate: -70deg;
	z-index: 5;
}

.practice__wrapper {
	perspective: 100px; /* расстояние от камеры до объекта */
	perspective-origin: 45% 0%; /* точка обзора (справа-снизу) */
}

.item-perspective:hover,
.practice__wrapper:hover > .item-perspective {
	transform: rotateY(60deg);
	z-index: 5;
}
