@import url("reset.css");

@import url("fonts.css");

.header {
	padding: 61px 264px 61px;
}

.main {
	width: 100%;
}

.hero {
	background: #d4d4d4 url("../img/Rectangle.svg") center / cover no-repeat;
	margin-bottom: 80px;
	padding: 114px 0px 110px;
}

[class*="__container"] {
	/* max-width: 1390px; */
	margin: 0 auto;
	font-size: 0;
}

.hero__content {
	width: 518px;
	/* padding: 114px 0px 110px; */
	/* margin-left: auto; */
	margin: 0 20% 0 auto;
}

.hero__content-over-header {
	margin-bottom: 20px;
	font-family: "Lato", "Arial", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
	color: #2f302c;
}
.hero__content-header {
	width: 518px;
	margin-bottom: 16px;
	font-family: "Montserrat", "Arial", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 96px;
	text-transform: uppercase;
	color: #2f302c;
}

.hero__content-header--span {
	font-weight: 700;
}

.hero__line {
	margin: 0px 0px 36px 10px;
	height: 1px;
	width: 308px;
	background-color: #2f302c;
}

.hero__text {
	width: 257px;
	margin-bottom: 20px;
	font-family: "Lato", "Arial", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
	color: #2f302c;
}

.hero__footer {
	width: 374px;
	font-family: "Lato", "Arial", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: #7e7f7c;
}

.plans {
	/* min-width: 100%; */
	/* margin: 0px 264px 0px; */
	background: linear-gradient(
		to bottom,
		#272b41 0%,
		#272b41 60%,
		#ffffff 60%,
		#ffffff 100% /* нижние 40% — белые */
	);
}

.plans__container {
	padding: 327px 0px 142px;
	width: 100%;
}

.plans__items {
	max-width: 1070px;
	margin: 0 auto;
	text-align: justify;
}

.plans__items::after {
	content: "";
	display: inline-block;
	width: 100%;
}

.plans__item {
	padding: 40px;
	background-color: #ffffff;
	max-width: 351px;
	display: inline-block;
	border-radius: 8px;
	vertical-align: top;
	box-shadow: 0px 13px 19px #00000012;
}

.plans__item:hover {
	background-color: #e1f4ff;
	color: #ffffff;
	box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.15);
	transform: translateY(-6px);
}

.plans__item-header {
	font-family: "Montserrat", "Arial", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.1px;
	color: #252b42;
	margin-bottom: 17px;
}

.plans__item-details-price {
	font-family: "Open Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	letter-spacing: 0.2px;
	color: #252b42;
	margin-right: 16px;
}

.plans__item-details-more-per-month {
	font-family: "Montserrat", "Arial", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.1px;
	color: #252b42;
	line-height: 1.5;
}

.plans__item-details-more-sale {
	font-family: "Montserrat", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.2px;
	color: #737373;
	line-height: 1.3;
}

.plans__item-details-price,
.plans__item-details-more {
	display: inline-block;
}

.plans__item-details-more {
	margin: 8.5px 0px 8.5px;
	text-align: left;
}

.plans__item-details {
	margin-bottom: 17px;
}

.plans__item-line {
	margin-bottom: 17px;
	height: 4px;
	max-width: 47px;
	background-color: #31a0fe;
}

.plans__item-text {
	font-family: "Montserrat", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.2px;
	color: #737373;
	line-height: 1.3;
	margin-bottom: 17px;
}

.plans__item-list {
	padding: 20px 0px 16px;
	margin-bottom: 17px;
}

[class*="--green"],
[class*="--gray"] {
	font-family: "Montserrat", "Arial", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.2px;
	line-height: 1.7;
	color: #252b42;
	padding: 4px 0px 4px 42px;
	margin-bottom: 15px;
	min-height: 32px;
	text-align: left;
}

.plans__item-list--green {
	background: url("../img/green_check_badge.svg") left top no-repeat;
}
.plans__item-list--gray {
	background: url("../img/gray_check_badge.svg") left top no-repeat;
}

.plans__item-button {
	text-align: center;
}

.plans__item-button .button {
	display: inline-block;
	width: 100%;
	padding: 6px 0px;
	font-family: "Montserrat", "Arial", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.2px;
	line-height: 1.7;
	color: #252b42;
	border: 2px solid #252b42;
	border-radius: 24px;
}

.plans__item-button .button:hover {
	background-color: #31a0fe; /* тёмный фон */
	color: #ffffff; /* белый текст */
	border: 0px;
}

.footer__container {
	/* min-height: 164px; */
	padding-bottom: 72px;
	margin: 0px 264px;
}

.footer__line {
	margin: 10px 10px 72px 10px;
	height: 1px;
	width: 100%;
	background-color: #d4d4d4;
}

.footer__copyright {
	font-size: 0px;
	width: 100%;
	vertical-align: middle;
}

.footer__copyright > p {
	display: inline-block;
	width: 82%;
	font-family: "Lato", "Arial", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	color: #7e7f7c;
}

.footer__social {
	margin-left: 5%;
	display: inline-block;
	width: 13%;
	text-align: justify;
}

.footer__social::after {
	content: "";
	display: inline-block;
	width: 100%;
}
