@import url("reset.css");

@import url("fonts.css");

body {
	font-family: "Lato", sans-serif;
	font-style: normal;
	font-weight: 500;
	background-color: #ffffff;
	color: #2f302c;
	text-transform: uppercase;
}

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

.header,
.footer {
	display: flex;
	justify-content: center;
	padding: 20px 0;
	background-color: #696a6769;
}

.feature {
	max-width: 1920px;
}

[class*="__container"] {
	padding: 82px 0px;
	background-color: #ffffff;
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	max-width: 1392px;
}

.feature__header,
.choose__header {
	display: flex;
	width: 100%;
	flex-direction: column;
	padding: 0 0 72px;
	margin: 0 auto;
	/* align-items: center; */
	/* align-self: flex-start; */
	justify-content: right;
	font-size: 0px;
}

.feature__title,
.choose__title {
	display: flex;
	justify-content: center;

	font-size: 32px;
	font-weight: 800;
	line-height: 1.2;
}

.feature__menu {
	padding: 36px 0 0;
	display: flex;
	flex-shrink: 1;
	flex-grow: 0;
	align-items: flex-start;
	justify-content: center;
}

.menu__list {
	display: flex;
	gap: 8px 48px;
	flex-wrap: wrap;
	align-content: flex-start;
}

.menu__item {
	display: flex;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.25;
}

.menu__item:hover {
	text-decoration: underline;
}

/* --------------- */

.feature__items {
	display: flex;
	gap: 72px 36px;
	flex-wrap: wrap;
	justify-content: center;
}

.product-card {
	display: flex;
	flex-direction: column;
	flex-basis: 380px;
	flex-shrink: 0;
	flex-grow: 1;
	max-width: 440px;
}

.product-card__img {
	display: flex;
	background-color: #f6f6f6;
	margin-bottom: 32px;
}

.product-card__body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.product-card__body > div:not(:last-child) {
	/* margin-bottom: 12px; */
	padding-bottom: 12px;
}

.product-card__rating {
	display: inline-flex;
}

.product-card__rating > img {
	width: 16px;
	height: 16px;
	margin: 0 4px;
}

.product-card__price {
	font-size: 20px;
	line-height: 28px;
	font-weight: 800;
}

/* --------------- */

.choose__container {
	/* background-color: #b9a483; */
	/* justify-content: center; */
	align-items: center;
}

.choose_items {
	max-width: 1180px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 68px;
	/* align-items: center; */
}

.choose__item {
	display: flex;
	flex-direction: column;
	flex-basis: 348px;
	flex-shrink: 0;
	flex-grow: 0;
	/* justify-content: center; */
	align-items: center;
	text-align: center;
	font-size: 16px;
	line-height: 1.25;
}

.choose__item > div:not(:last-child) {
	margin-bottom: 24px;
}

.choose-card__img {
	width: 60px;
	height: 60px;
}

.choose-card__text {
	text-transform: initial;
	color: #7e7f7c;
}
